# Ignore these files 

*.gignore

# emacs backups
*~

# build output
*.[oa]

# dylib
*.dylib

# mac stuff
.DS_Store

# python cruft
*.pyc

# executables
libAngles/angles_unittest

# builds
python/Boost/build
python/Manual/build

python/Swig/_angles.so
python/Swig/angles.py
python/Swig/angles_wrap.cxx

