# Ignore these files 

*.gignore

# emacs backups
*~

# build output
*.[oa]

# dylib
*.dylib

# mac stuff
.DS_Store

# python cruft
*.pyc

# executables
libAngles/angles_unittest
libAngles/example1

# builds
python/Boost/build
python/Boost/angles.cpp
python/Boost/test_angles.py

python/Manual/build
python/Manual/angles.cpp
python/Manual/test_angles.py

python/Swig/_angles.so
python/Swig/angles.py
python/Swig/angles_wrap.cxx

